

body {
  margin: 0;
  background-image: url("/assets/ocean-map.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position-x: center;
  background-position-y:50%; /*Dejarlo en 20%*/
  background-attachment:fixed;
  padding-top:70px;
}

a {
  text-decoration:none;
  margin-right:13px;
}

.icon {
  display:inline-block;
  color:'red'

  
}